body {
    background-color: #b8f0f891;
    margin-top: 05%;
    margin-left: 05%;
    margin-right: 05%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: #ff14918e;
    color: #8a0bcefa;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

p {
    color: #6273ee;
    text-align: left;
    padding-top: 05px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#paragrafo1 {
    color: rgb(242, 255, 255);
    background-color: black;
}

.imagem1 {

}